# Saudi Aramco Strategy Analysis: To Invest or To Trade?

In this notebook, I will explore how a **long-term buy-and-hold strategy** compares to a **short-term Simple Moving Average (SMA) crossover strategy** for **Saudi Aramco’s stock**.

Using historical stock data from the past five years, I will:

- **Calculate the dividend-adjusted annualized return** for an investor who bought and held the stock  
- **Backtest and apply walk-forward cross-validation** to determine the best short-term and long-term SMA parameters  
- **Compare the two strategies** and analyze **why one outperforms the other** for this specific ticker  

The goal is to help **investors and analysts** make more **informed decisions** and have **full confidence in their strategy**, regardless of the market's state.

## Importing Essential Modules & Initializing Aramco's Stock DataFrame

In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

In [105]:
aramco_stock = yf.download("2222.SR", "2019-12-01", "2025-07-13", multi_level_index=False, auto_adjust=False)
aramco_stock.reset_index(inplace=True)
aramco_stock

[*********************100%***********************]  1 of 1 completed

,Date,Adj Close,Close,High,Low,Open,Volume
0,2019-12-11,24.439983,29.090908,29.090908,29.090908,29.090908,38289394
1,2019-12-12,25.550892,30.413223,31.983471,29.752066,31.983471,505692621
2,2019-12-15,25.967487,30.909090,30.991735,30.413223,30.661158,98349281
3,2019-12-16,26.384069,31.404959,31.487602,30.991735,30.991735,105973907
4,2019-12-17,26.210489,31.198347,31.528925,30.991735,31.446280,142672245
...,...,...,...,...,...,...,...
1386,2025-07-06,24.870001,24.870001,24.889999,24.549999,24.780001,9678871
1387,2025-07-07,25.080000,25.080000,25.139999,24.780001,24.870001,11038097
1388,2025-07-08,25.100000,25.100000,25.120001,24.980000,25.059999,11042534
1389,2025-07-09,24.879999,24.879999,25.120001,24.820000,25.080000,7350422
1390,2025-07-10,25.040001,25.040001,25.059999,24.830000,24.879999,9659619

## Buy-And-Hold Performance

**Firstly**, I will calculate the **average annualized return** for an investor who **bought Saudi Aramco stock five years ago and held it without making any trades**. For simplicity, I will assume the **dividend yield remained constant at its 5.39% average**, and I will calculate returns over the period from **July 1, 2020 to July 1, 2025**. I will also assume that the **yields from capital gains and dividends are compounded annually**.

In [121]:
STARTING_CASH = 100
DIVIDEND_MULTIPLIER = 1.0539
START_DATE = "2020-07-01"
END_DATE = "2025-07-01"

shares_owned = STARTING_CASH / aramco_stock["Open"][aramco_stock["Date"] == START_DATE].iloc[0] # initial number of shares owned
final_shares_price = shares_owned * aramco_stock["Open"][aramco_stock["Date"] == END_DATE].iloc[0]
compound_annual_growth_multiplier = (final_shares_price / STARTING_CASH) ** (1/5)
compound_annual_growth_multiplier_with_dividends = compound_annual_growth_multiplier * DIVIDEND_MULTIPLIER

print(f"On {START_DATE}, {STARTING_CASH} SAR buys {shares_owned:.2f} shares of Saudi Aramco stock.")
print(f"On {END_DATE}, these shares are worth {final_shares_price:.2f} SAR, showing a compound annual growth rate of {(compound_annual_growth_multiplier - 1) * 100:.2f}%.")
print(f"With dividends reinvested at a yield of {DIVIDEND_YIELD}%, the finalized annual return is {(compound_annual_growth_multiplier_with_dividends - 1) * 100:.2f}%.")

On 2020-07-01, 100 SAR buys 3.73 shares of Saudi Aramco stock.
On 2025-07-01, these shares are worth 90.68 SAR, showing a compound annual growth rate of -1.94%.
With dividends reinvested at a yield of 5.39%, the finalized annual return is 3.35%.