# Saudi Aramco Strategy Analysis: To Invest or To Trade?

In this notebook, I will explore how a **long-term buy-and-hold strategy** compares to a **short-term Simple Moving Average (SMA) crossover strategy** for **Saudi Aramco’s stock**.

Using historical stock data from the past five years, I will:

- **Backtest and apply walk-forward cross-validation** to determine the best short-term and long-term SMA parameters  
- **Calculate the dividend-adjusted annualized return** for an investor who bought and held the stock  
- **Compare the two strategies** and analyze **why one outperforms the other** for this specific ticker  

The goal is to help **investors and analysts** make more **informed decisions** and have **full confidence in their strategy**, regardless of the market's state.

## Importing Essential Modules & Init

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

In [13]:
aramco_stock = yf.download("2222.SR", "2019-12-01", "2025-07-12", multi_level_index=False)
aramco_stock.reset_index(inplace=True)
aramco_stock

/var/folders/wl/33p8_m8s405g5bp5kxjrvrrh0000gp/T/ipykernel_57975/394383971.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  aramco_stock = yf.download("2222.SR", "2019-12-01", "2025-07-12", multi_level_index=False)
[*********************100%***********************]  1 of 1 completed

           Date      Close       High        Low       Open     Volume
0    2019-12-11  24.990631  24.990631  24.990631  24.990631   38289394
1    2019-12-12  26.126572  27.475498  25.558602  27.475498  505692621
2    2019-12-15  26.552546  26.623542  26.126570  26.339558   98349281
3    2019-12-16  26.978521  27.049516  26.623541  26.623541  105973907
4    2019-12-17  26.801033  27.085017  26.623543  27.014020  142672245
...         ...        ...        ...        ...        ...        ...
1386 2025-07-06  24.870001  24.889999  24.549999  24.780001    9678871
1387 2025-07-07  25.080000  25.139999  24.780001  24.870001   11038097
1388 2025-07-08  25.100000  25.120001  24.980000  25.059999   11042534
1389 2025-07-09  24.879999  25.120001  24.820000  25.080000    7350422
1390 2025-07-10  25.040001  25.059999  24.830000  24.879999    9659619

[1391 rows x 6 columns]